<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/shop.css">
    <script src="js/box.js"></script>
    <title>>>>财大书城<<<</title>
</head>
<body>
<div class="top">
    <div class="top content">
        <div class="lf welcome">欢迎访问财大书城！</div>
        <div class="rt channel"><a href="#" id="weibo"></a><a href="#" id="wechat"></a><a href="#" id="tel"></a></div>
    </div>
</div>
<div class="header">
    <div class="header content">
        <div id="logo" class="lf"><img src="images/logo_1.png"><img src="images/logo_2.png"></div>
        <div id="search" class="lf"><form action="#" method="post">
            <input id="search_box" class="lf" placeholder="search">
            <input id="search_btn" class="lf" type="submit" value=""></form></div>
        <div id="cart" class="rt">
            <a href="cart.html" id="cartlink"><img src="images/cart.png" class="lf"><div class="lf">购物车：<br>￥200.00</div></a>
        </div>
    </div>
</div>
<div class="nav">
    <div class="nav content">
        <div id="slogan" class="lf">学 &bull; 享 &bull; 成长</div>
        <ul id="menu" class="lf"><li><a href="index.html">首页</a></li>
            <li><a href="news.html" class="parent">新闻</a>
                <ul><li><a href="#">学校</a></li>
                    <li><a href="#">教育</a></li>
                    <li><a href="#">社会</a></li></ul>
            </li>
            <li><a href="shop.html" class="parent">商城</a>
                <ul><li><a href="#">新书</a></li>
                    <li><a href="#">二手</a></li>
                    <li><a href="#">资料</a></li>
                    <li><a href="#">电子版</a></li></ul>
            </li>
            <li><a href="#" class="parent">社区</a>
                <ul><li><a href="#">频道</a></li>
                    <li><a href="#">直播</a></li>
                    <li><a href="#">论坛</a></li>
                    <li><a href="#">专题</a></li>
                    <li><a href="#">VIP</a></li></ul>
            </li>
            <li><a href="#" class="parent">用户</a>
                <ul><li><a href="#">用户中心</a></li>
                    <li><a href="#">企业用户</a></li>
                    <li><a href="#">一站通</a></li></ul>
            </li>
            <li><a href="#">合作</a></li></ul>
        <!--<div id="tel" class="lf">Tel: (086)571-86735883</div>-->
    </div>
</div>
<div class="shop">
    <div class="shop content">
        <dl id="condition">
            <dt>类型：</dt><dd><a href="#">经济</a><a href="#">管理</a><a href="#">数学</a><a href="#">外语</a><a href="#">计算机</a><a href="#">小说</a><a href="#">传记</a><a href="#">励志</a></dd>
            <dt>出版社：</dt><dd><a href="#">清华大学出版社</a><a href="#">北京大学出版社</a><a href="#">高等教育大学出版社</a><a href="#">经济出版社</a><a href="#">中信出版社</a></dd>
            <dt>其它：</dt><dd></dd>
        </dl>
        <ul class="left">
            <li>• 热销图书</li>
            <li>
                <ul>
                    <li><ul>
                        <li><img src="images/book/book1.jpg"></li>
                        <li>￥31.80</li>
                        <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                        <li class="author" title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                        <li>已销1.2万册</li>
                    </ul></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><ul>
                        <li><img src="images/book/book1.jpg"></li>
                        <li>￥31.80</li>
                        <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                        <li class="author" title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                        <li>已销1.2万册</li>
                    </ul></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><ul>
                        <li><img src="images/book/book1.jpg"></li>
                        <li>￥31.80</li>
                        <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                        <li class="author" title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                        <li>已销1.2万册</li>
                    </ul></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><ul>
                        <li><img src="images/book/book1.jpg"></li>
                        <li>￥31.80</li>
                        <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                        <li class="author" title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                        <li>已销1.2万册</li>
                    </ul></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><ul>
                        <li><img src="images/book/book1.jpg"></li>
                        <li>￥31.80</li>
                        <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                        <li class="author" title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                        <li>已销1.2万册</li>
                    </ul></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><ul>
                        <li><img src="images/book/book1.jpg"></li>
                        <li>￥31.80</li>
                        <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                        <li class="author" title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                        <li>已销1.2万册</li>
                    </ul></li>
                </ul>
            </li>
        </ul>
        <ul class="right">
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
            <li><ul>
                <li><img src="images/book/book1.jpg"></li>
                <li class="bookname" title="Python语言程序设计基础">Python语言程序设计基础</li>
                <li title="嵩天，礼欣，黄天羽 著">嵩天，礼欣，黄天羽 著</li>
                <li>清华大学出版社</li>
                <li><span class="price">￥39.90</span><span class="nprice">￥31.80</span></li>
                <li><img src="images/bt_buy_normal.jpg" class="buy">
                    <img src="images/bt_fav_normal.png" class="fav" title="点击收藏"></p>
            </ul></li>
        </ul>
    </div>
</div>
<div class="pagelist">
    <div class="pagelist content">
        <a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">...</a>
    </div>
</div>
<div class="help">
    <div class="help content">
        <ul id="helplist">
            <li><a href="#">联系我们</a>
                <dl>
                    <dt>地址：</dt><dd>中国浙江省杭州市钱塘区学源街18号<br>浙江财经大学信息管理与人工智能学院</dd>
                    <dt>电话：</dt><dd>(086)571-86735883</dd>
                    <dt>Email：</dt><dd>bookstore@zufe.edu.cn</dd>
                </dl>
            </li>
            <li><a href="#">购物须知</a>
                <ul>
                    <li><a href="#">包装与运输</a></li>
                    <li><a href="#">支付方式</a></li>
                    <li><a href="#">购物与退货</a></li>
                    <li><a href="#">合同条款</a></li>
                    <li><a href="#">隐私政策</a></li>
                </ul>
            </li>
            <li><a href="#">平台支持</a>
                <ul>
                    <li><a href="#">我的账户</a></li>
                    <li><a href="#">订单查询</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">客服中心</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </li>
            <li><a href="#">订阅</a>
                <div>
                    <p>您将定期收到我们的促销信息</p>
                    <input placeholder="Input you email!">
                    <input type="submit" value="订阅">
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="footer content">
        Copyright © 2022. INFO-ZUFE, All rights reserved.
    </div>
</div>
</body>
</html>